.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: 90%;
  .row {
    display: flex;
    padding: 7px 14px;
    justify-content: space-between;
  }
  p {
    margin: 0;
  }
}
